# M5StickC Plus SE (ESP32-PICO-D4, 4 MB, no PSRAM)
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="stickc_plus_se/partitions_ota.csv"
CONFIG_PARTITION_TABLE_FILENAME="stickc_plus_se/partitions_ota.csv"
# CONFIG_ESP32_SPIRAM_SUPPORT is not set
# CONFIG_SPIRAM is not set
CONFIG_BT_NIMBLE_SVC_GAP_DEVICE_NAME="HarnessNode-PlusSE"
